.mainContainer{
    display: flex;
    flex-direction: column;
    padding:5px;
    @media (min-width: 769px){
        flex-direction: row;
       
    }

    .sideBar{
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        background-color: white;
        top:0;
        left:0;
        
        @media (min-width: 769px){
            height: 100vh;
            flex-direction: column;
            min-width:30vw;
      }
        
       
    }

    .content{
        width: 99%;
        margin-top: 15vh;

        @media (min-width: 769px){
            width:98vw;
            margin-left: 31vw;
            margin-top: 1vh;
            position: relative;
        }

        

        .mainer{
            color:white;
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            text-align: right;

            .name{
                color:white;
                font-size: 2em;
                width: 50%;
                text-align: right;
            }
        }
        .sticky{
            display: flex;

            @media (max-width: 768px){
                display: none;
            }
            @media (min-width: 769px){
                    width: 100%;
                    box-shadow: 2px 2px 2px solid grey;
                    height: 10vh;
                    flex-direction: row;
                    justify-content: space-around;
                    position:sticky;
                    top:0;
                    background:white;
                    align-items: center;
            }
        }
    }
    .holder, .holder2{
        width: 99%;
        display:grid;
        grid-template-columns: auto 30%;
        padding:5px;

        .holder-text{
            padding:5px;
            color:white;
            width:45vw;
            background:grey;
            margin-right:10px;
            border-radius:5px
        }
        .image-holder{
            width:19vw
        }
    }

    .holder2{
        display: flex;
        flex-direction: column-reverse;
        border: 1px solid black;
        border-radius: 5px;
        margin-bottom: 10px;
    }
}