$animation-duration: 2s;
$animation-timing: ease-in-out;

.mainImage {
    min-height: 70vh;
    padding-top: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width:769px) {
        padding-top: -50px;
        min-height: 50vh;
    }

    .mainer {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 24vh;
        align-items: center;
        text-align: right;
        animation: SlideIn $animation-duration $animation-timing forwards;

        .name {
            color: white;
            font-size: 2em;
            width: 50%;
            text-align: center;

        }
    }
}

.mobileNav {
    display: flex;
    background: white;
    padding: 5px;
    justify-content: space-between;
    height: 8vh;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;

    @media (min-width:760px) {
        display: none;

    }



}

.menu2 {
    width: 95%;
    display: flex;
    justify-content: right;
    padding: 10px;
    background: transparent;
    z-index: 1;

    @media (min-width: 200px) {
        display: none;
    }

    @media (min-width: 769px) {
        display: flex;
        position: fixed;
        top: 5;
    }
}

.sticky {
    display: flex;
    background: white;

    @media (max-width: 768px) {
        display: none;
    }

    @media (min-width: 769px) {
        width: 100%;
        box-shadow: 2px 2px 2px solid grey;
        height: 10vh;
        flex-direction: row;
        justify-content: space-around;
        position: sticky;
        top: 0;
        background: white;
        align-items: center;
    }
}

@keyframes SlideIn {
    from {
        transform: scale(0.5);
    }

    to {
        transform: scale(1);
    }

}